<div id="<%= dom_id(appliance) %>" class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= appliance.appliance_type %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Make: <%= appliance.make %></li>
    <li class="list-group-item">Model: <%= appliance.model %></li>
    <li class="list-group-item">Last Serviced: <%= appliance.last_serviced %></li>
    <li class="list-group-item">Service Due: <%= appliance.service_due %></li>
    <% if appliance.contact_id.present? %>
      <li class="list-group-item">Contact: <%= appliance.contact.contact_name %></li>
    <% end %>
  </ul>
  <div class="card-body">
    <%= link_to "Edit", edit_appliance_path(appliance.id), class: "card-link", remote: true %>
    <%= link_to 'Delete', appliance, method: :delete, class: "card-link" %>
  </div>
</div>