<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['Not Yet Started','In Progress','Completed'], include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :date_started %>
    <%= form.date_select :date_started, include_blank: true %>
  </div>
  
  <div class="field">
    <%= form.label :date_completed %>
    <%= form.date_select :date_completed, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, ['High','Medium','Low'], :prompt => 'Select One' %>
  </div>

  <div class="field">
    <%= form.label :estimated_cost %>
    <%= form.text_field :estimated_cost %>
  </div>

  <div class="field">
    <%= form.label :house_id %>
    <%= form.select :house_id, current_user.houses.collect {|h| [h.street_address, h.id] }, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :contact_id %>
    <%= form.select :contact_id, current_user.contacts.collect {|c| [c.contact_name, c.id] }, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
