<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<h5>In Progress</h5>
<% @projects.where({ :status => "In Progress" }).each do |project| %>
  <div class="col-md-2 offset-md-1">
    <%= render "projects/project", project: project %>
  </div>
<% end %>

<h5>Not Yet Started</h5>
<% @projects.where({ :status => "Not Yet Started" }).each do |project| %>
  <div class="col-md-2 offset-md-1">
    <%= render "projects/project", project: project %>
  </div>
<% end %>

<h5>Completed</h5>
<% @projects.where({ :status => "Completed" }).each do |project| %>
  <div class="col-md-2 offset-md-1">
    <%= render "projects/project", project: project %>
  </div>
<% end %>

<br>

<%= link_to 'New Project', new_project_path %>
